h1 {color: yellow;}
h1 {text-align: center;}
h6 {color: yellow;}
h6 {text-align: center;}
h3 {color: yellow;}
h3 {text-align: center;}
a:link {text-align: center;}
a:link {color: #FF0000;}
a:hover {color: #00FFFF;}
p.bat_image {text-align: center;}
body {color: yellow;}
body {background-color: #000000;}
ul {text-align: justify;}
ul.education {color: white;}