h1 {
	color: yellow;
	text-align: center
}

h6 {
	color: yellow;
	text-align: center;
}

h3 {
	color: yellow;
	text-align: center;
}

a:link {
	text-align: center;
	color: #FF0000;
}

a:hover {color: #00FFFF;}

a:visited {color: #FF00FF;}

p.bat_image {text-align: center;}

body {
	color: yellow;
	background-color: #000000;
}

h3.education {text-align: justify;}
h3.skills {text-align: justify;}
h3.activities {text-align: justify;}
h3.coursework {text-align: justify;}

ul {text-align: justify;}
ul.education {color: white;}

a.hidden {font-size: 1 in;}
a.hidden:link {color: #000000;}
a.hidden:hover {color: #00FF00;}
a.hidden:visited {color: #CC0000;}