h1 {color: yellow;}
h1 {text-align: center;}
h6 {color: yellow;}
h6 {text-align: center;}
h3 {color: yellow;}
h3 {text-align: center;}
a {text-align: center;}
p.bat_image {text-align: center;}
body {background-color: #000000;}